##################################
#           配置文件示列           #
#  使用 config 或 env 函数读取配置  #
##################################

# MySQL数据库配置
DB_HOST : 127.0.0.1
DB_DATABASE : Mysticism
DB_USERNAME : root
DB_PASSWORD : root

