##################################
#           配置文件示列           #
#  使用 config 或 env 函数读取配置  #
##################################

# SQL数据库配置
DB_enable : 1
DB_TYPE : SQLite
# SQLite3数据库文件路径 - SQLite PATH
DB_PATH : SQLite PATH
# DB_HOST : 127.0.0.1
DB_DATABASE : Mysticism
DB_USERNAME : root
DB_PASSWORD : root

